In [24]:
from lxml import html
from lxml.etree import tostring as html_to_string
import requests
import pandas as pd

In [ ]:
page = requests.get('http://www.boxofficemojo.com/people/?view=Actor&pagenum=3&sort=person&order=ASC&p=.htm')
tree = html.fromstring(page.content)

In [26]:
table_data = tree.xpath('//table//table')[0]
table_data.text

In [27]:
# Running this line will open a new tab and show the rendered HTML content of the element

# html.open_in_browser(table_data)

In [28]:
html_to_string(table_data)[:100]

'<table border="0" cellspacing="1" cellpadding="5" width="98%"><tr bgcolor="#dcdcdc"><td align="cente'

In [51]:
# pd.read_html gives a list of tables. Since we already selected the table, set match=''
# also, skip the header row. It's ugly so we'll put our own in later
tables = pd.read_html(html_to_string(table_data), match='', skiprows=1)
assert len(tables) == 1

In [52]:
actor_df = tables[0]
actor_df.head()

,0,1,2,3,4,5
0,Daniel Radcliffe,"$2,565.1",15,$171.0,Harry Potter / Deathly Hallows (P2),$381.0
1,Josh Radnor,$718k,3,$239k,Liberal Arts,$327k
2,Edgar Ramirez,$305.5,7,$43.6,Zero Dark Thirty,$95.7
3,Harold Ramis,$11.6,1,$11.6,The Last Kiss (2006),$11.6
4,Noomi Rapace,$359.2,9,$39.9,Sherlock Holmes 2,$186.8

In [53]:
header=['actor','total_gross','no_movies','avg_gross','top_picture','top_gross']
actor_df.columns = header
actor_df.head()

,actor,total_gross,no_movies,avg_gross,top_picture,top_gross
0,Daniel Radcliffe,"$2,565.1",15,$171.0,Harry Potter / Deathly Hallows (P2),$381.0
1,Josh Radnor,$718k,3,$239k,Liberal Arts,$327k
2,Edgar Ramirez,$305.5,7,$43.6,Zero Dark Thirty,$95.7
3,Harold Ramis,$11.6,1,$11.6,The Last Kiss (2006),$11.6
4,Noomi Rapace,$359.2,9,$39.9,Sherlock Holmes 2,$186.8